<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>opencover,cobertura</Format>
          <Include>[ExtensionSuite.*]*,[TDSBLive.Desktop]*</Include>
          <Exclude>[*.Tests]*</Exclude>
          <ExcludeByFile>**/*.g.cs,**/*.generated.cs,**/Migrations/*.Designer.cs,**/*ModelSnapshot.cs</ExcludeByFile>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <UseSourceLink>false</UseSourceLink>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
